{% extends "layout.html" %}

{% block body %}
<h1>Choose your sphere of your interest</h1>
<form action="/dict" method="post">
    <select name="sphere">
        <option selected value="Choose one sphere" disabled>Choose a sphere</option>
        <option value="arts">Arts</option>
        <option value="automobiles">Automobiles</option>
        <option value="books">Books</option>
        <option value="business">Business</option>
        <option value="fashion">Fashion</option>
        <option value="food">Food</option>
        <option value="health">Health</option>
        <option value="home">Home</option>
        <option value="insider">Insider</option>
        <option value="magazine">Magazine</option>
        <option value="movies">Movies</option>
        <option value="national">National</option>
        <option value="nyregion">Nyregion</option>
        <option value="obituaries">Obituaries</option>
        <option value="opinion">Opinion</option>
        <option value="politics">Politics</option>
        <option value="realestate">Realestate</option>
        <option value="science">Science</option>
        <option value="sports">Sports</option>
        <option value="sundayreview">Sundayreview</option>
        <option value="technology">Technology</option>
        <option value="theater">Theater</option>
        <option value="tmagazine">Tmagazine</option>
        <option value="travel">Travel</option>
        <option value="upshot">Upshot</option>
        <option value="world">World</option>
    </select>
    <input name="words_num" placeholder="Write the length of the dictionary." type="number"/>
    <select name="articles_num">
        <option selected value="1">1 article</option>
        <option value="2">2 articles</option>
        <option value="3">3 articles</option>
        <option value="4">4 articles</option>
        <option value="5">5 articles</option>
        <option value="7">7 articles</option>
        <option value="10">10 articles</option>
    </select>


    <input type="submit" value="Send">

</form>
{% endblock %}
